<div class="container-fluid">
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Draw Path using SVG Polyline - Angular</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="row inputs">
      <div class="col-md-1"><label>x co-ordinate: </label></div>
      <div class="col-md-1"><input class="form-control" type="number" min="0" attr.max="{{svgWidth}}" required="true" [(ngModel)]="cx" /></div>
      <div class="col-md-1"><label>y co-ordinate: </label></div>
      <div class="col-md-1"><input class="form-control" type="number" min="0" attr.max="{{svgHeight}}" required="true" [(ngModel)]="cy" /></div>
      <div class="col-md-1"><button class="btn btn-default" type="submit" (click)="addPoint()">Add Point</button></div>
      <div class="col-md-7">
        <span class="info" [style.color]="isValidValues ? 'blue' : 'red'">Provide <i>x co-ordinate(0-{{svgWidth}})</i> and <i>y co-ordinate(0-{{svgHeight}})</i> in input fields and click <i>Add Point</i> button</span>
      </div>
    </div>
    <div class="svg">
      <svg attr.height="{{svgHeight}}" attr.width="{{svgWidth}}" *ngIf="isPointsAdded">
        <!-- Points, Polyline, Image, Text Start -->
        <g id="map-matrix" [attr.transform]="transform" font-size="20" font-family="sans-serif" fill="black">
          <!-- add any custom map image as background to svg by uncommenting below line -->
          <!--<image xlink:href="assets/images/img.png" x="0" y="0" attr.height="{{svgHeight}}px" attr.width="{{svgWidth}}px"/>-->
          <polyline attr.points="{{polyline}}" />
          <g *ngFor="let point of points;let i = index;">
            <circle attr.cx="{{point.cx}}" attr.cy="{{point.cy}}" r="6" />
            <text attr.x="{{point.cx}}" attr.y="{{point.cy}}" dx="5" dy="-10" stroke="none"
              fill="darkblue">{{i+1}}({{point.cx}},{{point.cy}})</text>
          </g>
        </g>
        <!-- Points, Polyline, Image, Text End-->

        <!-- Zoom and Pan Start-->
        <circle cx="50" cy="50" r="42" fill="white" opacity="0.75" />
        <path class="button" (click)="pan( 0, 50)" d="M50 10 l12   20 a40, 70 0 0,0 -24,  0z" />
        <path class="button" (click)="pan( 50, 0)" d="M10 50 l20  -12 a70, 40 0 0,0   0, 24z" />
        <path class="button" (click)="pan( 0,-50)" d="M50 90 l12  -20 a40, 70 0 0,1 -24,  0z" />
        <path class="button" (click)="pan(-50, 0)" d="M90 50 l-20 -12 a70, 40 0 0,1   0, 24z" />

        <circle class="compass" cx="50" cy="50" r="20" />
        <circle class="button" cx="50" cy="41" r="8" (click)="zoom(0.8)" />
        <circle class="button" cx="50" cy="59" r="8" (click)="zoom(1.25)" />

        <rect class="plus-minus" x="46" y="39.5" width="8" height="3" />
        <rect class="plus-minus" x="46" y="57.5" width="8" height="3" />
        <rect class="plus-minus" x="48.5" y="55" width="3" height="8" />
        <!-- Zoom and Pan End-->
      </svg>
    </div>
    <!-- Log Start -->
    <div class="row log" *ngIf="isPointsAdded">
      <div class="col-md-4">
       <p *ngFor="let point of points.reverse()">({{point.cx}},{{point.cy}}) added</p>
      </div>
    </div>
    <!-- Log End -->
  </main>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <span class="navbar-text">
        <i>Chandru</i> - <a href="https://github.com/ChandruCR/">github</a>
      </span>
    </div>
  </div>
</div>